<template>
  <TestForm
    :test="test"
    :saveTest="createTest"/>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

import TestForm from '../components/TestForm'

export default {
  name: 'CreateTestPage',
  inject: ['service'],
  components: {
    TestForm
  },
  computed: {
    ...mapState('testForm', ['test'])
  },
  methods: {
    ...mapActions('testForm', ['saveTest']),
    ...mapMutations('testForm', ['UPDATE_TEST']),
    createTest (test) {
      this.UPDATE_TEST(test)
      console.log(test)
      this.saveTest({ service: this.service, method: 'POST' })
    }
  },
  beforeMount () {
    const newTest = {
      id: null,
      user_id: null,
      title: '',
      questions: []
    }
    this.UPDATE_TEST(newTest)
  }
}
</script>

<style>

</style>
