<template>
  <section>
    <LargeSpinner v-if="isFetching"/>
    <TestForm
      v-else
      :test="test"
      :saveTest="editTest"/>
  </section>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'

import TestForm from '../components/TestForm'
import LargeSpinner from '../components/LargeSpinner'

export default {
  name: 'CreateTestPage',
  inject: ['service'],
  components: {
    TestForm,
    LargeSpinner
  },
  computed: {
    ...mapState('testForm', ['test', 'isFetching', 'error']),
    ...mapState('tests', ['tests'])
  },
  methods: {
    ...mapActions('testForm', ['fetchTestById', 'saveTest']),
    ...mapMutations('testForm', ['UPDATE_TEST']),
    editTest (test) {
      this.UPDATE_TEST(test)
      this.saveTest({ service: this.service, method: 'PUT' })
    }
  },
  mounted () {
    this.fetchTestById({ service: this.service, id: this.$route.params.id })
  }
}
</script>

<style>

</style>
