<template>
  <b-container>
    <Test :test="test"/>
  </b-container>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import Test from '../components/Test'
export default {
  name: 'PassTestPage',
  inject: ['service'],
  components: {
    Test
  },
  props: {
    test: Object
  },
  computed: {
    ...mapState('testForm', ['test', 'isFetching', 'error']),
    ...mapState('tests', ['tests'])
  },
  methods: {
    ...mapActions('testForm', ['fetchTestById', 'saveTest']),
    ...mapMutations('testForm', ['UPDATE_TEST'])
  },
  async mounted () {
    const testForPass = this.tests.find(test => test.id === this.$route.params.id)
    if (!testForPass) {
      console.log('Test not found in vuex, begin finding in database')
      await this.fetchTestById({ service: this.service, id: this.$route.params.id })
        .then(() => {
          if (this.error) {
            this.$router.history.push({ name: 'notFound' })
          }
        })
    } else {
      this.UPDATE_TEST(testForPass)
      console.log(this.test)
    }
  }
}
</script>
