<template>
  <section id="tests-page" class="mt-5">
    <LargeSpinner v-if="isFetching"/>

    <b-container fluid="lg" class="mt-5">
      <b-row>
        <!--Table header for User Interface controls -->
        <b-col lg="4">
          <b-container>
            <b-row>
              <!--Sort by selected col-->
              <b-col lg="12" class="my-1 col-6">
                <b-form-group
                  label="Sort"
                  label-cols-sm="2"
                  label-align-sm="right"
                  label-cols-lg="12"
                  label-align-lg="left"
                  label-size="sm"
                  label-for="sortBySelect"
                  class="mb-0"
                >
                  <b-input-group size="sm">
                    <b-form-select v-model="sortBy" id="sortBySelect" :options="sortOptions" class="w-75">
                      <template v-slot:first>
                        <option value="">-- none --</option>
                      </template>
                    </b-form-select>
                    <b-form-select v-model="sortDesc" size="sm" :disabled="!sortBy" class="w-25">
                      <option :value="false">Asc</option>
                      <option :value="true">Desc</option>
                    </b-form-select>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <!--Initial sort select-->
              <b-col lg="12" class="my-1 col-6">
                <b-form-group
                  label="Initial sort"
                  label-cols-sm="2"
                  label-align-sm="right"
                  label-cols-lg="12"
                  label-align-lg="left"
                  label-size="sm"
                  label-for="initialSortSelect"
                  class="mb-0"
                >
                  <b-form-select
                    v-model="sortDirection"
                    id="initialSortSelect"
                    size="sm"
                    :options="['asc', 'desc', 'last']"
                  ></b-form-select>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row>
              <!--Filter Search-->
              <b-col lg="12" class="my-1 col-6">
                <b-form-group
                  label="Filter"
                  label-cols-sm="2"
                  label-align-sm="right"
                  label-cols-lg="12"
                  label-align-lg="left"
                  label-size="sm"
                  label-for="filterInput"
                  class="mb-0"
                >
                  <b-input-group size="sm">
                    <b-form-input
                      v-model="filter"
                      type="search"
                      id="filterInput"
                      placeholder="Type to Search"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
              </b-col>
              <!--Filter On block-->
              <b-col lg="12" class="my-1 col-6">
                <b-form-group
                  label="Filter On"
                  label-cols-sm="2"
                  label-align-sm="right"
                  label-cols-lg="12"
                  label-align-lg="left"
                  label-size="sm"
                  description="Leave all unchecked to filter on all data"
                  class="mb-0">
                  <b-form-checkbox-group v-model="filterOn" class="mt-1">
                    <b-form-checkbox value="title">Title</b-form-checkbox>
                    <b-form-checkbox value="author_id">Author id</b-form-checkbox>
                  </b-form-checkbox-group>
                </b-form-group>
              </b-col>
            </b-row>
          </b-container>
        </b-col>
        <!-- Table body -->
        <b-col lg="8">
          <b-container>
            <!-- Button create page-->
            <b-row class="mt-4 mb-3">
              <b-button
                class="w-100"
                variant="success"
                :to="{name: 'tests.create'}"
              >Create my test</b-button>
            </b-row>
            <!-- Pagination -->
            <b-row class="my-3">
              <b-col sm="5" md="6" class="my-1">
                <b-form-group
                  label="Per page"
                  label-cols-sm="6"
                  label-cols-md="4"
                  label-cols-lg="3"
                  label-align-sm="right"
                  label-size="sm"
                  label-for="perPageSelect"
                  class="mb-0"
                >
                  <b-form-select
                    v-model="perPage"
                    id="perPageSelect"
                    size="sm"
                    :options="pageOptions"
                  ></b-form-select>
                </b-form-group>
              </b-col>
              <b-col sm="7" md="6" class="my-1">
                <b-pagination
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="fill"
                  size="sm"
                  class="my-0"
                ></b-pagination>
              </b-col>
            </b-row>
            <!-- Table-->
            <b-row>
              <b-table
                show-empty
                small
                :items="items"
                :fields="fields"
                :current-page="currentPage"
                :per-page="perPage"
                :filter="filter"
                :filterIncludedFields="filterOn"
                :sort-by.sync="sortBy"
                :sort-desc.sync="sortDesc"
                :sort-direction="sortDirection"
                @filtered="onFiltered"
              >
                <template v-slot:cell(index)="row">
                  {{ row.index + 1 }}
                </template>
                <template v-slot:cell(actions)="row">
                  <b-button-group size="sm" class="mr-1">
                    <b-button
                      variant="primary"
                      @click="passTest(row.item)"
                    >Pass</b-button>  <!-- :to="{name: 'pass-test', params: { id: row.item.id }}" -->
                    <b-button
                      variant="success"
                      :to="{ name: 'tests.edit', params: { id: row.item.id } }"
                    >Edit</b-button>  <!-- :to="{name: 'edit-test', params: { id: row.item.id }}" -->
                    <b-button
                      variant="danger"
                      @click="deleteMyTest(row.item.id)"
                    >Delete</b-button>   <!-- вызвать Экшен удаления, со стора и с базы данных -->
                  </b-button-group>
                </template>
              </b-table>
            </b-row>
            <!--Pagination-->
            <b-row>
              <b-col sm="7" md="6" class="my-1 mx-auto">
                <b-pagination
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="fill"
                  size="sm"
                  class="my-0"
                ></b-pagination>
              </b-col>
            </b-row>
          </b-container>
        </b-col>
      </b-row>

    </b-container>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import LargeSpinner from '../components/LargeSpinner'

export default {
  name: 'TestPage',
  inject: ['service'],
  components: {
    LargeSpinner
  },
  data () {
    return {
      fields: [
        { key: 'index', label: '' },
        { key: 'title', label: 'Title', sortable: true, sortDirection: 'desc' },
        { key: 'user_id', label: 'Author id', sortable: true },
        { key: 'actions', label: 'Actions' }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      pageOptions: [10, 20, 50],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      infoModal: {
        id: 'info-modal',
        title: '',
        content: ''
      }
    }
  },
  computed: {
    ...mapState('tests', ['tests', 'isFetching', 'error']),
    items () {
      return [...this.tests]
    },
    sortOptions () {
      // Create an options list from our fields
      return [
        { text: 'title', value: 'title' },
        { text: 'data', value: 'id' }
      ]
    }
  },
  async mounted () {
    if (this.tests) {
      await this.fetchAllTests(this.service)
    }
    // Set the initial number of items
    this.totalRows = this.items.length
  },
  methods: {
    ...mapActions('tests', ['fetchAllTests', 'deleteTest']),
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    passTest (item) {
      this.$router.history.push({ name: 'tests.pass', params: { id: item.id } })
    },
    deleteMyTest (id) {
      console.log('item delete')
      this.deleteTest(id)
    }
  }
}
</script>

<style lang="scss">
  table#table-transition .flip-list-move {
    transition: transform 1s;
  }
</style>
