<template>
  <b-form-group label="Add options for question:">
    <b-form-checkbox
      v-for="(option, index) in options"
      :key="index"
      v-model="option.is_right">
      <b-input-group>
        <b-form-input
          type="text"
          v-model="option.text"
          placeholder="Enter text for option">
        </b-form-input>
        <b-input-group-append>
          <b-button
            variant="link"
            class="text-decoration-none d-flex align-items-center"
            @click="deleteOption(index)">
            <b-icon-x></b-icon-x>
          </b-button>
        </b-input-group-append>
      </b-input-group>
    </b-form-checkbox>
  </b-form-group>
</template>

<script>
export default {
  name: 'CheckboxOptionsForm',
  props: {
    options: Array,
    deleteOption: Function
  }
}
</script>
