<template>
  <div>
    <b-form-group label="Choose one or more options:">
      <b-form-checkbox-group stacked id="checkbox-group-2" v-model="selected" name="flavour-2">
        <b-form-checkbox
          v-for="option in options"
          :key="option.id"
          :value="option">{{ option.text }}</b-form-checkbox>
      </b-form-checkbox-group>
    </b-form-group>

    <div>Selected: <strong>{{ selected.map( item => item.text) }}</strong></div>
  </div>
</template>

<script>
export default {
  name: 'CheckboxOptions',
  props: {
    options: Array
  },
  data () {
    return {
      selected: []
    }
  }
}
</script>
