<template>
  <div id="large-spinner" class="d-flex justify-content-center align-items-center">
    <b-spinner style="width: 5rem; height: 5rem;" label="Large Spinner"></b-spinner>
  </div>
</template>

<script>
export default {
  name: 'LargeSpinner'
}
</script>

<style lang="scss" scoped>
  #large-spinner {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ccc;
    opacity: 0.8;
    z-index: 100;
  }
</style>
