<template>
  <div>
    <RadioOptions v-if="type === 'radio'" :options="options"/>
    <CheckboxOptions v-if="type === 'checkbox'" :options="options"/>
  </div>
</template>

<script>
import RadioOptions from './RadioOptions'
import CheckboxOptions from './CheckboxOptions'

export default {
  name: 'Options',
  components: {
    RadioOptions,
    CheckboxOptions
  },
  props: {
    type: String,
    options: Array
  }
}
</script>
