<template>
  <b-container>
    <!-- Row for instruction and adding new option  -->
    <b-row>
      <b-col>
        <CheckboxOptionsForm v-if="type === 'checkbox'" :options="options" :deleteOption="deleteOption"/>
        <RadioOptionsForm v-if="type === 'radio'" :options="options" :deleteOption="deleteOption"/>
      </b-col>
    </b-row>

    <b-row>
      <b-col class="d-flex justify-content-center">
        <b-button
          size="sm"
          variant="success"
          @click="addNewOption">Add new option</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import CheckboxOptionsForm from './CheckboxOptionsForm'
import RadioOptionsForm from './RadioOptionsForm'

export default {
  name: 'OptionsForm',
  components: {
    CheckboxOptionsForm,
    RadioOptionsForm
  },
  props: {
    type: {
      type: String,
      default: null
    },
    options: Array
  },
  methods: {
    // добавляет новую опцию с пустыми значениями
    addNewOption () {
      this.options.push({
        text: '',
        is_right: false
      })
    },
    // удаляет опцию по заданому индексу
    deleteOption (idx) {
      this.options.splice(idx, 1)
    }
  }
}
</script>

<style>
  fieldset{
    width: 100%;
  }
  .custom-control-label{
    display: block !important;
    margin-bottom: 0.5rem !important;
  }
  label{
    display: block !important;
  }
</style>
