<template>
  <b-list-group-item>
    <b-button
      class="btn-delete"
      size="sm"
      variant="danger"
      @click="deleteThisQuestion(question)"
    >
     <b-icon-x/>
    </b-button>
    <!-- The Input: computing the model for [store.test.questions[id].text] -->
    <b-row class="mb-2">
      <b-col>
        <b-form-group :label="`${index+1}. Text of question:`">
<!--          <b-button-->
<!--            variant="link"-->
<!--            class="text-decoration-none d-flex align-items-center"-->
<!--            @click="question.text = ''">-->
<!--            <b-icon-x></b-icon-x>-->
<!--          </b-button>-->
          <b-form-textarea
            :id="`input-question-text-${index}`"
            v-model="question.text"
            placeholder="Enter your text"
            rows="3"
            max-rows="8"
          ></b-form-textarea>
        </b-form-group>
      </b-col>
    </b-row>

    <!-- Inputs: computing the model for [store.test.questions[id].category & .score_value & .type] -->
    <b-row class="mb-2">
      <b-col md="4">
        <b-form-group
          size="sm"
          label="Category:"
          :for="`category-${index}`"
        >
          <b-form-input
            :id="`category-${index}`"
            type="text"
            v-model="question.category"/>
        </b-form-group>
      </b-col>

      <b-col md="4">
        <b-form-group
          size="sm"
          label="Score value:"
          :for="`score_value-${index}`"
        >
          <b-form-input
            :id="`score_value-${index}`"
            type="text"
            v-model="question.score_value"/>
        </b-form-group>
      </b-col>

      <b-col md="4">
        <b-form-group
          size="sm"
          label="Type of question:"
          :for="`type-${index}`"
        >
          <b-form-select
            :id="`type-${index}`"
            v-model="question.type"
            :options="type_options"></b-form-select>
        </b-form-group>
      </b-col>
    </b-row>
    <!-- The question for OptionsForm -->
    <b-row>
      <b-col>
        <OptionsForm
          :type="question.type"
          :options="question.options"/>
      </b-col>
    </b-row>
  </b-list-group-item>
</template>

<script>
import OptionsForm from './OptionsForm'

export default {
  name: 'QuestionForm',
  components: {
    OptionsForm
  },
  props: {
    index: Number,
    question: Object,
    deleteQuestion: Function
  },
  data () {
    return {
      type_options: [
        { value: null, text: 'select the type', disabled: true },
        { value: 'radio', text: 'radio' },
        { value: 'checkbox', text: 'checkbox' }
      ]
    }
  },
  methods: {
    deleteThisQuestion (question) {
      this.deleteQuestion(question)
    }
  }
}
</script>

<style scoped lang="scss">
  .btn-delete{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
  }
</style>
