<template>
  <b-list-group-item>
    <h3>{{ question.text }}</h3>
    <Options :type="question.type" :options="question.options"/>
  </b-list-group-item>
</template>

<script>
import Options from './Options'

export default {
  name: 'Question',
  components: {
    Options
  },
  props: {
    question: Object
  }
}
</script>
