<template>
  <b-form-group label="Add options for question:">
    <b-form-radio-group
      class="d-flex flex-column"
      v-model="selected"
      @change="changeSelectedRadioItem"
      label="Add options for question:"
    >
      <b-form-radio
        v-for="(option, index) in options"
        :key="index"
        :value="option"
      >
        <b-input-group>
          <b-form-input
            type="text"
            v-model="option.text"
            placeholder="enter text for option"
          />
          <b-input-group-append>
            <b-button
              variant="link"
              class="text-decoration-none d-flex align-items-center"
              @click="deleteOption(index)">
              <b-icon-x></b-icon-x>
            </b-button>
          </b-input-group-append>
        </b-input-group>
      </b-form-radio>
    </b-form-radio-group>
  </b-form-group>
</template>

<script>
export default {
  name: 'RadioOptionsForm',
  props: {
    options: Array,
    deleteOption: Function
  },
  data () {
    return {
      // выделеный объект из группы радио-опций
      selected: this.options ? this.options.find(op => op.is_right === true) : null
    }
  },
  methods: {
    // устанавливает  is_right в false для всех опцый данного ваопроса
    // затем устанавливает  is_right в true только для переданной опции
    changeSelectedRadioItem (option) {
      this.options.forEach(op => {
        op.is_right = false
      })
      option.is_right = true
    }
  }
}
</script>
