<template>
  <div>
    <b-form-group label="Choose only one option">
      <b-form-radio
        v-for="option in options"
        :key="option.id"
        v-model="selected"
        :value="option"
      >{{ option.text }}</b-form-radio>
    </b-form-group>

    <div>Selected: <strong>{{ selected.text }}</strong></div>
  </div>
</template>

<script>
export default {
  name: 'RadioOptions',
  props: {
    options: Array
  },
  data () {
    return {
      selected: ''
    }
  }
}
</script>
