<template>
  <b-container>
    <h1>{{ test.title }}</h1>
    <b-list-group>
      <Question
        v-for="question in test.questions"
        :key="question.id"
        :question="question"
      />
    </b-list-group>
  </b-container>
</template>

<script>
import Question from './Question'
export default {
  name: 'Test',
  components: {
    Question
  },
  props: {
    test: Object
  }
}
</script>
