<template>
  <b-container fluid class='mt-5'>
    <LargeSpinner v-if="isPosting" />
    <!-- The Input: model bind with [store.testForm.title] -->
    <b-input-group prepend="Title" class="mt-3 mb-3" >
      <b-form-input
        id="input-test-title"
        type="text"
        v-model="title">
      </b-form-input>
      <b-input-group-append >
          <b-button
            variant="link"
            class="text-decoration-none d-flex align-items-center"
            @click="title = ''"
          >
            <b-icon-x></b-icon-x>
          </b-button>
      </b-input-group-append>
    </b-input-group>

    <b-list-group>
      <QuestionForm
        v-for="(question, index) in items"
        :key="index"
        :index="index"
        :question="question"
        :deleteQuestion="deleteQuestion"
      />
    </b-list-group>
    <b-row class="my-1">
      <!-- The Button for adding new question, add to [store.test.questions] new empty object  -->
      <b-col class="d-flex justify-content-center">
        <b-button
          size="sm"
          variant="primary"
          class="mx-auto"
          @click="addNewQuestion">
          Add new question
        </b-button>
      </b-col>
      <!-- The Button: use function from props for saving the test -->
      <b-col
        v-if="items.length > 0"
        class="d-flex justify-content-center"
      >
        <b-button
          size="sm"
          variant="success"
          class="mx-auto"
          @click="saveChangesForThisTest">
          SAVE TEST
        </b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapState } from 'vuex'

import LargeSpinner from '../components/LargeSpinner'
import QuestionForm from './QuestionForm'

export default {
  name: 'TestForm',
  components: {
    LargeSpinner,
    QuestionForm
  },
  props: {
    test: Object,
    saveTest: Function
  },
  data () {
    return {
      items: [...this.test.questions],
      title: this.test.title ? (this.test.title + '') : '',
      fields: ['index', 'text', 'category', 'actions']
    }
  },
  computed: {
    ...mapState('testForm', ['isPosting'])
  },
  methods: {
    addNewQuestion () {
      const newQuestion = {
        type: 'radio',
        category: '',
        text: '',
        score_value: null,
        options: []
      }
      this.items.push(newQuestion)
    },
    deleteQuestion (question) {
      const idx = this.items.findIndex(item => item === question)
      this.items.splice(idx, 1)
    },
    saveChangesForThisTest () {
      const updatedTest = {
        ...this.test,
        title: this.title,
        questions: this.items
      }
      console.log(this.saveTest)
      this.saveTest(updatedTest)
    }
  }
}
</script>

<style scoped lang="scss">
.index-row{
  width: 50px;
}
</style>
