<template>
  <div id="app">
    <TheNavigator/>

    <b-container>
      <router-view></router-view>
    </b-container>
  </div>
</template>

<script>
import TheNavigator from './components/TheNavigator'

export default {
  name: 'App',
  components: {
    TheNavigator
  }
}
</script>
